#nkd_container {
	float:left;
}

#niy_container {
	float:left;
}

#j6_container {
	float:left;
}

#nkd_container h2 {
}

#niy_container h2 {
}

#j6_container h2 {
}

.bid_price{
    background:#DFF0D8;
}

.ask_price{
    background:#F2DEDE;
}

.container{
    width:1300px;
}

#nkd, #niy, #j6 {
    margin-right:10px;
	width: 400px;
}

.container.autotrader {
    margin-left:12px;
    margin-bottom:25px;

}

#autotrader {
	float: right;
}
.table thead th {
    text-align:center;
}

.table td {
    padding:2px;
    text-align:center;
}

#retail_order {
    width:600px;
}

ul#forms {
	list-style:none;
	margin: 0;
}

