#nkd_container, #niy_container, #j6_container  {
	float:left;
}

#nkd_container, #niy_container {
    margin-right:23px;
    border-right:1px solid #777;
    padding-right:11px;
}

#nkd_container h2, #j6_container h2, #niy_container h2  {
    margin-bottom:10px;  
}


.bid_price{
    background:#DFF0D8;
}

.ask_price{
    background:#F2DEDE;
}

.container{
    width:1300px;
}

#nkd, #niy, #j6 {
    margin-right:10px;
	width: 400px;
}

.container.autotrader {
    margin-left:12px;
    margin-bottom:25px;

}

#autotrader {
	float: right;
}
.table thead th {
    text-align:center;
}

.table td {
    padding:2px;
    text-align:center;
}

#retail_order {
    width:600px;
}

ul#forms {
	list-style:none;
	margin: 0;
}

#niy_speedbump, #nkd_speedbump, #j6_speedbump {
    float:right;
    margin-right:15px;
}

#retail_order {
    margin-right:25px;
}

.footer {
	margin-top: 15px;
	padding-top: 10px;
	border-top: 1px solid #eee;
	color: #999;
}

.footer span {
	padding-left: 8px;
	padding-right: 5px;
	border-right: 1px solid #ddd;
	margin: 0;
}

.footer span.last {
	border-right: none;
}

html, body { height: 100%; }

#wrap { min-height: 93%; }

#main {
	overflow:auto;
	padding-bottom: 20px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -20px; /* negative value of footer height */
	height: 20px;
	clear:both;
} 
