#nkd_container {
	float:left;
}

#niy_container {
	float:left;
}

#j6_container {
	float:left;
}

#nkd_container h2 {
}

#niy_container h2 {
}

#j6_container h2 {
}

.bid_price{
    background:#DFF0D8;
}

.ask_price{
    background:#F2DEDE;
}

.container{
    width:1300px;
}

#nkd {
    margin-right:10px;
	width: 400px;
}

#niy {
    margin-right:10px;
	width: 400px;
}

#j6 {
    margin-right:10px;
	width: 400px;
}